<div class="race-steps-container col-lg-6 col-md-12">
  <div class="row-connetcion-1 <%= 'color' if two %>" ></div>
  <div class="row-connetcion-2 <%= 'color' if three %>"></div>
  <div class="race-step <%= 'color' if one %>"><i class="fas fa-running"></i></div>
  <div class="race-step <%= 'color' if two %>" ><i class="fas fa-euro-sign"></i></div>
  <div class="race-step <%= 'color' if three %>" ><i class="fas fa-camera"></i></div>
</div>
