<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
        <%= simple_form_for @race do |f| %>
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
            </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
              </div>
              <div class="col-sm-6">
              </div>
            </div>
            <%= f.input :description, label: "Descrizione della corsa.", :input_html => { :rows => 9 , :style => 'width: 100%'} %>
            <%= f.input :goodies, label: "Pacco gara (Se presente)", :input_html => { :rows => 6 , :style => 'width: 100%'} %>
        <%= f.input :video, label: "Hai un video su Youtube? Copia e incolla il link qua" %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>




<h1>Informazioni base</h1>
<%= simple_form_for @race do |f| %>
  <div class="row">
    <div class="col-md-8">
      <%= f.input :name, label: "Nome" %>
    </div>
    <div class="col-md-4">
      <%= f.input :race_type, collection: ["Trail", "Skyrunning", "Ultratrail"], label: "Tipo di gara" %>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-3">
       <%= f.input :length, label: "Distanza in Km", input_html: { min: '0', max: '400', step: '1' }%>  
    </div>
    <div class="col-md-3">
      <%= f.input :elevation, label: "Dislivello positivo in m", input_html: { min: '0', max: '30000', step: '50' }%> 
    </div>
    <div class="col-md-6">
      <%= f.input :location, label: "Dove si svolge la gara" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :date, label: "Data dell'evento", html5: true, input_html: { class: 'date-simple', placeholder: "Seleziona la data..." }  %>
    </div>
    <div class="col-md-4">
      <%= f.input :departure_time, label: "Orario di Partenza",  html5: true,  input_html: { class: 'date-hour', placeholder: "Seleziona l'orario..." }  %>
    </div>
  </div>
<% end %>
