<div class="container show-race-container">
  <div class="row">
    <div class="col-md-7">
      <div class="race-infos">
        <div class="race-card-details">
          <p><i class="far fa-calendar-alt mr-2"></i><%= @race.date %></p>
          <p class="ml-3"><i class="fas fa-map-marked-alt mr-2"></i><%= @race.location %></p>
        </div>
        <h1><%= @race.name %></h1>
        <div class="race-card-details bottom">
          <p><%= @race.race_type %></p>
          <p><%= @race.length %>Km</p>
          <p><%= @race.elevation %>m d+</p>
        </div>
        <p><%= @race.description %></p>
        <p class="bold race-window-title prices-info-window">Prezzo dell'iscrizione</p>
        <ul>
          <% @race.race_prices.each do |price| %>
          <li>Dal <span class="bold"><%= price.start_date.strftime("%d %b %Y") %></span> al <span class="bold"><%= price.end_date.strftime("%d %b %Y") %></span>: <%= price.price %>€ </li>
          <% end  %>
        </ul>
        <p class="bold race-window-title">Pacco gara</p>
        <p><%= @race.goodies %></p>
        <p><span class="bold race-window-title">Gara organizzata da:</span> <%= @race.organization.name %> </p>
      </div>
    </div>
    <div class="col-md-5"></div>
  </div>
</div>


<% @race.race_photos.each do |photo| %>
<%= cl_image_tag photo.picture, height: 300, width: 400, crop: :fill %>
<% end %>
