

<%= simple_form_for user, url: save_profile_users_path, method: :patch, remote: true do |f| %>
  <div class="row py-5 form-row">
    <div class="col-md-4">
      <div class="">
        <p class="subtitle text-secondary">Benvenuto su TraiList </p>
      </div>
      <h4>Completa il tuo profilo</h4>
      <p class="text small muted">Inserisci la tua città di provenienza e scegli il tuo username</p>
    </div>
    <div class="col-md-8">
      <% user.errors.messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
      <%= f.input :username, label: "Username", hint: "Scegli o conferma il tuo username", input_html: {value: "#{user.first_name ? user.first_name.downcase + user.last_name[0] : ''}"}%>
      <%= f.input :location, label: "Città di provenienza" %>
    </div>
  </div>
  <div class="row py-5 d-flex justify-content-end">
    <%= f.button :submit, 'Continua', class: "mr-0 btn btn-primary px-3" %>
  </div>
<% end %>
