<nav class="py-3 navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="align-items-center collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav align-items-center">
      <li class="nav-item active">
        <%= link_to "Lista gare", races_path, class:"dropdown-item py-1 px-3" %>
      </li>

    <% unless user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Sei un organizzatore?', new_user_registration_path, class: 'nav-link' %>
      </li>
    <% else %>
        <li class="nav-item">
          <%= link_to  'Il tuo profilo', current_user, class:'dropdown-item py-1 px-3' %>
        </li>
          <% if current_user.organization %>
        <li class="nav-item">
          <%= link_to  'Dashboard Organizzatore', organizer_dashboard_organizations_path, class:'dropdown-item py-1 px-3' %>
        </li>
        <% else %>
        <li class="nav-item">
            <%= link_to  'Organizzi una gara?', new_organization_path, class:'nav-link' %>
        </li>
          <% end %>
        <li>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item py-1 px-3' %>
        </li>

      <li class="nav-item ">
        <% if current_user.avatar.blank? %>
          <%= image_tag "runner-avatar", class: "d-block avatar p-2 dropdown-toggle", id:"navbarDropdown" , data: {toggle: "dropdown"}%>
          <% else %>
            <%= image_tag current_user.avatar ,class: "d-block avatar user-prifile-avatar p-2 "%>
          <% end %>
      </li>
    <% end %>

    </ul>
  </div>
</nav>



