
<div class="home-banner mb-4" style="">
  <div class="home-search-container">
    <%= image_tag "logo-trail.png", class:"mb-2" %>
    <h1 class="mx-auto">Trova la tua prossima gara</h1>
      <div class="home-search-box mt-5 pl-3 pr-0 py-0">
        <%=  form_with(url: "/races", method: "get",id:"home-search-form", local: true) do %>
          <div class="row w-100 align-items-center">
            <div class="col-md-12 col-lg-5 d-flex pr-0 pr-5-md">
                <div class="w-100 form-group home-location-box">
                  <input  class="form-control" id="home-location-field" placeholder="Dove vuoi correre?">
                </div>
            </div>
            <div class="col-md-12 col-lg-4 d-flex pr-0">
                <div class="w-100 form-group home-location-box">
                  <input name="dates" class="form-control" id="home-date-field" type="text" placeholder="Periodo">
                </div>
            </div>
            <div class="col-md-12 col-lg-2 d-flex mx-0 pl-0 type-col-home">
                <div class="w-100 form-group">
                  <select name="category" class="race-type-select" title="Tipo di gara" value="">
                    <%= Race::CATEGORIES.each do |c| %>
                      <option value="<%= c %>"><%= c %></option>
                    <% end %>
                      <option value="<%= Race::CATEGORIES %>" >Qualsiasi</option>
                  </select>
                </div>
            </div>
            <div class="btn-column col-md-12 col-lg-1 pr-2 pl-0">
              <button type="submit" class="search-btn-home btn btn-primary">GO</button>
            </div>

          </div>
        <% end %>
     </div>
  </div>
</div>
<!-- <div class="container py-5">
  <div class="text-center pb-lg-4">
    <p class="subtitle text-secondary">One-of-a-kind vacation rentals </p>
    <h2 class="mb-5">Booking with us is easy</h2>
  </div>
  <div class="row">
    <div class="col-lg-4 mb-3 mb-lg-0 text-center">
      <div class="px-0 px-lg-3">
        <div class="icon-rounded bg-primary-light mb-3">
          <svg class="svg-icon text-primary w-2rem h-2rem">
            <use xlink:href="#destination-map-1"> </use>
          </svg>
        </div>
        <h3 class="h5">Sfoglia il calendario</h3>
        <p class="text-muted"></p>
      </div>
    </div>
    <div class="col-lg-4 mb-3 mb-lg-0 text-center">
      <div class="px-0 px-lg-3">
        <div class="icon-rounded bg-primary-light mb-3">
          <svg class="svg-icon text-primary w-2rem h-2rem">
            <use xlink:href="#pay-by-card-1"> </use>
          </svg>
        </div>
        <h3 class="h5">Condividi le tue esperienze</h3>
        <p class="text-muted"></p>
      </div>
    </div>
    <div class="col-lg-4 mb-3 mb-lg-0 text-center">
      <div class="px-0 px-lg-3">
        <div class="icon-rounded bg-primary-light mb-3">
          <svg class="svg-icon text-primary w-2rem h-2rem">
            <use xlink:href="#heart-1"> </use>
          </svg>
        </div>
        <h3 class="h5">Trova la tua prossima corsa</h3>
        <p class="text-muted"></p>
      </div>
    </div>
  </div>
</div>
 --><div class="container py-5">
  <div class="row">
      <% @races.each do |race|%>
        <div class="col-md-4 mb-4">
          <%= render 'races/card', race: race %>
        </div>
      <% end %>
  </div>
  <div class="w-100 d-flex align-items-center py-4">
    <%= link_to "Sfoglia il calendario",races_path, class: "mx-auto mb-4 btn btn-outline-light" %>
  </div>

</div>
<div class="organizer-container mb-5">
  <div class="text-white text-center w-75">
    <h1 class="">Sei un organizzatore?</h1>
    <% if user_signed_in? && current_user.organization %>
    <p class="lead">Vai alla pagina della tua orgaznizzatione
      <%= link_to "Continua", organization_path(current_user.organization), class:"ml-3 btn btn-light" %></p>
    <% elsif user_signed_in? %>
      <p class="lead">Inserisci la tua organizzazione e aggiungi le tue gare
      <%= link_to "Inizia", new_organization_path, class:"ml-3 btn btn-light" %></p>
    <% else %>
      <p>Aggiungi le tue gare</p>
      <%= link_to "Inizia", new_user_registration_path, class:"ml-3 btn btn-light" %></p>
    <% end %>

  </div>
</div>
<%= render 'shared/footer' %>


<script>
  const nav = document.querySelector('nav')
  const height = document.querySelector(".home-search-box").offsetTop
  const limit = height - nav.offsetHeight + 100
  window.addEventListener("scroll", () =>{
    console.log(document.querySelector(".home-search-box").offsetTop)
    console.log(window.pageYOffset)
    if ( window.pageYOffset < limit ){
      console.log("j")
      nav.classList.remove('black')
    } else{
            console.log("k")

      nav.classList.add('black')
    }

  })
</script>
