  <%= simple_form_for organization do |f| %>
  <div class="row py-5 form-row top">
    <div class="col-md-4">
      <h4>Informazioni di base</h4>
    </div>
    <div class="col-md-8">
      <%= f.input :name, label: "Nome del gruppo" %>
      <%= f.input :location, label: "Dove ha sede il gruppo?" %>
      <%= f.input :description, label: "Racconta qualcosa in più sul tuo gruppo sportivo.", :input_html => { :rows => 7 , :style => 'width: 100%'}%>
    </div>
  </div>
  <div class="row py-5 form-row">
    <div class="col-md-4">
      <h4>Contatti</h4>
    </div>
    <div class="col-md-8">
      <%= f.input :email, label: "Indirizzo email", input_html:{ value: current_user.email}, hint: "L'indirizzo email resterà nascosto. Gli utenti potranno inviarti messaggi, ma avranno accesso all'indirizzo email solo in caso tu decida di rispondere" %>
      <%= f.input :phone, label:"Contatto telefonico", hint:"Non obbligatorio"%>
      <%= f.input :website, label:"Sito internet" %>
    </div>
  </div>
  <div class="row py-5 form-row top">
    <div class="col-md-4">
      <h4>Logo</h4>
    </div>
    <div class="col-md-8">
          <%= f.input :logo, label: "Logo del gruppo", input_html: { accept: ".jpg, .gif, .png" } %>
    <img height="100" class="logo-preview" id="logo-preview"/>
    <%= f.input :logo_cache, as: :hidden %>

      </div>
    </div>
  <div class="row py-5 d-flex justify-content-end">
    <%= f.button :submit, 'Continua', class: "mr-0 btn btn-primary px-3" %>
  </div>
<% end %>



