<div class="container">
  <div class="row mt-5">
    <div class="col-md-3 d-flex flex-column align-items-center py-4">
      <% if @organization.logo.blank? %>
        <%= image_tag "runner-avatar" ,class: "d-block avatar avatar-xxl p-2 mb-4"%>
      <% else %>
        <%= cl_image_tag @organization.logo ,class: "d-block avatar avatar-xxl user-prifile-avatar p-2 mb-4"%>
      <% end %>
      <h5><%= @organization.name %></h5>
      <p class="text-primary">
        <i class="fa-map-marker-alt fa mr-1"></i> Albino, Bg, Italy
      </p>
    </div>
  <div class="col-md-9">
    <div class="border-bottom-light py-4">
      <h4>Gestisci <%= @organization.name %></h4>
      <div class="d-flex">
    <%= link_to "Modifica il gruppo", edit_organization_path(@organization), class: "mb-4 btn btn-outline-primary"   %>
  </div>
  </div>

    <div class="border-bottom-light py-4">
      <h4 class="">Gare inserite</h4>
        <% if @organization.races.any? %>
          <% @organization.races.each do |race| %>
            <%= render 'races/race_horizontal_card', race: race %>
          <% end %>
        <% else %>
          <div class="d-flex align-items-center">
            <p class="text-muted mb-2">Non hai ancora inserito gare</p>
          </div>
          <%= link_to "Aggiungi una gara", new_race_path, class: "mb-4 btn btn-outline-primary"   %>
        <% end %>
    </div>

    <div class="border-bottom-light py-4">
      <h4>Recensioni alle gare</h4>
        <% if @organization.reviews.any? %>
        <% else %>
          <div class="d-flex align-items-center mb-5">
            <p class="text-muted mb-0">Non ci sono recensioni alle tue gare</p>
          </div>
        <% end %>
    </div>

  </div>

  </div>
</div>


