<div class="container">
    <h1><%= @organization.name %></h1>
    <p><%= @organization.email %></p>
    <p><%= @organization.location %></p>
    <p><%= @organization.description %></p>
    <%= link_to "Add a New Race", new_race_path %>
</div>
