<%# if current_user == organization.user %>
<%# end %>

<div class="container">
  <div class="row form-row">
    <div class="col pr-3 mb-3">
      <div class="d-flex align-items-center">
        <% unless @organization.logo.blank? %>
        <%= cl_image_tag @organization.logo, class: "d-block avatar avatar-xl p-2 mb-2 mr-4" %>
      <% end %>
      <div>
         <h1><%= @organization.name %></h1>
        <p class="text-primary">
          <i class="fa-map-marker-alt fa mr-1"></i> <%= @organization.location %>
        </p>
      </div>

      </div>
      <div class="pb-3 mb-4 border-bottom-light">
        <h6 class="mt-4 mb-2">Il gruppo</h6>
        <p class="text-muted font-weight-light">
          <%= @organization.description %>
        </p>
      </div>
      <% if @organization.races.any? %>
      <h4 class="mt-4 mb-4">Gare organizzate</h4>
      <div class="row">
              <% @organization.races.each do |race| %>
        <div class="col-md-6 mb-3">
          <%= render 'races/card', race: race %>
        </div>
      <% end %>

      </div>
      <% else %>
        <div class="d-flex align-items-center">
          <p class="text-muted mb-2">Non hai ancora inserito gare</p>
        </div>
        <%= link_to "Aggiungi una gara", new_race_path, class: "mb-4 btn btn-outline-light"   %>
      <% end %>

      </div>
  </div>
</div>













<div class="container">
    <h1><%#= @organization.name %></h1>
    <p><%#= @organization.email %></p>
    <p><%#= @organization.location %></p>
    <p></p>
    <%#= link_to "Add a New Race", new_race_path %>
</div>
