<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: 'Trailista', description: "Trailista è il calendario gare dedicato ai trail e alle skyrace. Trova la tua prossima corsa e unisciti alla community di appassionati!", keywords: 'corsa, trail, running, gare, runners, skyrace, ultratrail, ultra'  %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <script src="https://kit.fontawesome.com/ac3db7d167.js" crossorigin="anonymous"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar'%>
    <%= render 'shared/alerts'%>
    <%= yield %>
    <%= render 'layouts/cookies_policy' %>
    <% yield :javascript %>
    <%= javascript_pack_tag  'application' %>
  </body>
</html>
