<div class="container">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="row py-5 form-row">
    <div class="col-md-4">
      <div>
      <div class="">
        <p class="subtitle text-secondary">Modifica email o password</p>
      </div>
      <h4 class="mb-3">Inserisci le informazioni</h4>
      <%= link_to "Torna al tuo profilo", user_path(current_user), class: "mb-4 btn btn-outline-primary" %>

      </div>

      <%= link_to "Cancella il tuo account", registration_path(resource_name), class: "mb-4 btn btn-outline-primary", data: { confirm: "Are you sure?" }, method: :delete %>

    </div>
    <div class="col-md-8">
      <% @user.errors.messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>

    </div>
  </div>

  <div class="row py-5 d-flex justify-content-end">
    <%= f.button :submit, 'Continua', class: "mr-0 btn btn-primary px-3" %>
  </div>
<% end %>


<%= link_to "Back", :back %>

</div>
